<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <h1>Thanks for submitting this form! You have submitted this form {{number}} times now.</h1>
        <h1>Submitted Information</h1>
        <p>Name:{{name}}</p>
        <p>Dojo Location:{{location}}</p>
        <p>Favourite Language:{{language}}</p>
        <p>Comment:{{comment}}</p>
    </div>
</body>
</html>