<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <form action='/result' method='POST'>
            {% csrf_token %}
            <h1>Your Name: <input name="name", type="text"></h1>
            <h1>Dojo Location:
                <select name='location'>
                        <option value="Mountain View">Mountain View</option>
                        <option value="hell">hell</option>
                </select>  
            </h1>  
            <h1>Dojo Location:
                <select name='language'>
                        <option value="Javascript">Javascript</option>
                        <option value="Python">Python</option>
                </select>  
            </h1>  
            <h1>Comment(option):<textarea name="comment"></textarea>
            </h1>
            <input type='submit' value='submit'></input>
        </form>
    </div>
</body>
</html>